<!DOCTYPE html>
<html lang="fr">
<head>
    <title>EXXEA MVC PHP</title>
    <link rel="icon" href="https://exxea.net/wp-content/uploads/2022/05/favico.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</head>
<body>
{{ include('modal.twig') }}
{% block body %}
{% endblock %}
<footer>
    <p>&copy; 2023 JACOPIN Guillaume Exxea MVC-PHP</p>
</footer>
</body>
</html>

